<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
   <packageSources>
    <add key="Internal oxyplot feed" value="https://ci.appveyor.com/nuget/me-oxyplot-4yyxseo89nai" />
    <add key="Internal roundedBoxes feed" value="https://ci.appveyor.com/nuget/me-xamarin-forms-plugins-f3gf8rjh3bws" />  
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>